@charset "utf-8";
/* CSS Document */
/*-------------------------------------------------
GLOBALS & GENERAL CASES
-------------------------------------------------*/
* {
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	color:	#e63636;
	
}
.button {
	width:100px;
	height:35px;
	text-align:center;
	color:#fff;
	line-height:35px;
}
.button a {
	display:block;
	height:35px;
	text-align:center;
	color:#fff;
	line-height:35px;
	background:#e63636;
}
.button a:hover {
	display:block;
	height:35px;
	text-align:center;
	color:#fff;
	line-height:35px;
	background:#838383;
}
.clear {
	clear:both;
}
/*-------------------------------------------------
body sytles start
-------------------------------------------------*/

body {
	background:url(https://scontent.fbkk4-1.fna.fbcdn.net/v/t39.30808-6/403739202_1801645203589275_6757430227845338828_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHSP5-67UvsJ7G2iwjUGje4dNA-NhvZq4B00D42G9mrgMJKvs0gV8qT0Z7m6KHMMc0Jp1Wf-abLDnEDUN9DYxD2&_nc_ohc=ZC8fdt49R7YAX_9idG_&_nc_oc=AQlNJkA5HXQUB27-P6kE4iZ9dTkqYrPcAk2Xqb2ATid22CNgGQNDegScdpPypavTMaI&_nc_zt=23&_nc_ht=scontent.fbkk4-1.fna&oh=00_AfDesYFEZKmVimHxz3AxBVwROXQ6WeiOB-8nliXDX6BZXA&oe=655C95CC);
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:15px;
	color:#8b8b8b;
	line-height:20px;
}
.wrapper {
	width:100%;
	height:auto;
	margin:0 auto;
	text-align:left;
	background:url(https://scontent.fbkk3-2.fna.fbcdn.net/v/t39.30808-6/399694512_1801645390255923_3434412067314323997_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEWA7LA_bQTMm-UFA9orva3hBaaHifq_wqEFpoeJ-r_CjXNHT_v3uV8zw-F0oYoEQr7CGSNcHfcwf8NmxNDmHRP&_nc_ohc=bMpgyIHhlbAAX9m8h4J&_nc_zt=23&_nc_ht=scontent.fbkk3-2.fna&oh=00_AfBYIn5SL5S-k7RLqnlfuy-z2e-AYcYzo8aeVavSlS4Z9w&oe=655BA577) repeat-x;
}

/*-------------------------------------------------
Logo And Menu Styles Start
-------------------------------------------------*/
.logo-menu-container {
	width:960px;
	height:120px;
	margin:0 auto;
}
.logo {
	float:left;
	width:420px;
	height:120px;
	text-align:left;
	line-height:120px;
	font-size:48px;
	color:#d19b2e;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.menu {
	float:right;
	width:540px;
	height:120px;
	margin:0 auto;
}
.menu ul {
	list-style:none;
	outline:none;
	margin-top:38px;
}
.menu ul li {
	float:left;
	display:block;
	width:90px;
	height:44px;
	line-height:44px;
	text-align:center;
	background:url(https://scontent.fbkk4-2.fna.fbcdn.net/v/t39.30808-6/399763176_1801645693589226_975970115646691611_n.jpg?stp=cp0_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHUuEac0AdQFLndjnNr2jL1jLyLZNwamA2MvItk3BqYDXe67vQdH2ApIKLSGtr7E-PMV3bTigv8NZZy7CjFL_aY&_nc_ohc=8nG9VrIV6HUAX-A_pZd&_nc_zt=23&_nc_ht=scontent.fbkk4-2.fna&oh=00_AfDgIjZNzEcfYRPW3_RHRwYt6izjyePjE2fSxypeStPh5A&oe=655BE438) no-repeat right;
}
.menu ul li a {
	color:#9a9a9a;
}
.menu ul li a:hover {
	color:#ffffff;
}
.menu ul li a.active {
	color:#ffffff;
}
.menu ul li.nobg {
	background:none;
}


/*-------------------------------------------------
General Page Styles Start
-------------------------------------------------*/

.page {
	width:920px;
	margin:0 auto;
	background:url(https://scontent.fbkk3-5.fna.fbcdn.net/v/t39.30808-6/399735441_1801645893589206_2045599941469116101_n.jpg?stp=cp0_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEj5l-g2n1Y3npa6luptPW252ui2p8bV4Hna6LanxtXgRlld1hVpo-A-FiLoe0IfqcBtnUEtBAm35sLMe7MOSws&_nc_ohc=4VulZNW69G8AX9R8qPm&_nc_zt=23&_nc_ht=scontent.fbkk3-5.fna&oh=00_AfBdvCX7Zp27av69kPaSOD-7mMADjsIqYci10sCA1igm1g&oe=655B47C6);
	padding:20px;
	overflow:auto;
}
.main-banner {
	width:900px;
 	height:280px;
	background:#e8e8e8;
	padding:10px;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}


/*-------------------------------------------------
Left Column Styles Start
-------------------------------------------------*/

.left-column {
	float:left;
	width:260px;
	height:auto;
	margin:0 auto;
	padding-top:20px;
}
.dark-panel {
	float:left;
	width:250px;
	background:url(https://scontent.fbkk3-6.fna.fbcdn.net/v/t39.30808-6/399735437_1801646073589188_5141979403576218458_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEZvCwLF8ArDppqIybDCDTKRwoceYtEmEBHChx5i0SYQG_wb2IirI9jJ60Ezv2POqVrsiHPhiww94KD4s-OoSah&_nc_ohc=F8ri_jSPNsQAX_nOmLO&_nc_zt=23&_nc_ht=scontent.fbkk3-6.fna&oh=00_AfDtx7EDC2NBTZKOyaqfLkeP0LAG9dnQ4E5a1YlbBpdXIg&oe=655BC7AB);
	padding:5px;
	text-align:left;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
}
.dark-panel h1 {
	color:#fff;
	font-size:22px;
	font-weight:normal;
}
.dark-panel-top {
	float:left;
	width:250px;
	height:2px;
	background:url(https://scontent.fbkk3-4.fna.fbcdn.net/v/t39.30808-6/399733025_1801644563589339_8461909653392678172_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF_-JQJrGsnWOy5L7h-VyFpwQ2XFkZY0UrBDZcWRljRSvztJzKK7fCzlemTensfmtEO0Lc2J61f6puT6E-mmzGW&_nc_ohc=VerT0WbmTisAX--JZAh&_nc_zt=23&_nc_ht=scontent.fbkk3-4.fna&oh=00_AfDl72SeBUf2DrtSEurmRawZ-P5uLeNEp_7ARG1R6GiuuQ&oe=655C696B) repeat-x;
}
.dark-panel-center {
	float:left;
	width:210px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	background:url(https://scontent.fbkk4-2.fna.fbcdn.net/v/t39.30808-6/399711617_1801644966922632_4536509563261331948_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGsfYMpgYRsg5J-StYola1t5gUte1np_NnmBS17Wen82Xmaw68S-QxXJpd8SnkmwUotvH7xb0Le3jA3RxdOxRhH&_nc_ohc=y0Z1_Y7FomEAX9c33ue&_nc_zt=23&_nc_ht=scontent.fbkk4-2.fna&oh=00_AfBkJoQkaId2p8TSxfsVeg7jn2lqdQrtlhXyheECMxQ9Vw&oe=655B1672) repeat-y;
}
.dark-panel-center ul li {
	list-style:none;
	display:block;
}
.username {
	width:175px;
	background:#565656 url(../images/user-icon.png) left top no-repeat;
	height:35px;
	padding-left:35px;
	margin-top:20px;
}
.password {
	width:175px;
	background:#565656 url(../images/password-icon.png) left top no-repeat;
	height:35px;
	padding-left:35px;
	margin-top:20px;
	margin-bottom:20px;
}
.login-input {
	width:175px;
	height:35px;
	background: none repeat scroll 0 0 transparent;
	border: 0 solid green;
	color:#8b8b8b;
	padding-left:10px;
	line-height:35px;
}
.dark-panel-bottom {
	float:left;
	width:250px;
	height:2px;
	background:url(https://scontent.fbkk3-4.fna.fbcdn.net/v/t39.30808-6/399733025_1801644563589339_8461909653392678172_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF_-JQJrGsnWOy5L7h-VyFpwQ2XFkZY0UrBDZcWRljRSvztJzKK7fCzlemTensfmtEO0Lc2J61f6puT6E-mmzGW&_nc_ohc=VerT0WbmTisAX--JZAh&_nc_zt=23&_nc_ht=scontent.fbkk3-4.fna&oh=00_AfDl72SeBUf2DrtSEurmRawZ-P5uLeNEp_7ARG1R6GiuuQ&oe=655C696B) repeat-x;

}
.light-panel {
	float:left;
	width:250px;
	background:#ffffff;
	padding:5px;
	text-align:left;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}
.light-panel h1 {
	color:#3c3c3c;
	font-size:22px;
	font-weight:normal;
}
.light-panel-top {
	float:left;
	width:250px;
	height:2px;
	background:url(https://scontent.fbkk3-4.fna.fbcdn.net/v/t39.30808-6/399733025_1801644563589339_8461909653392678172_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF_-JQJrGsnWOy5L7h-VyFpwQ2XFkZY0UrBDZcWRljRSvztJzKK7fCzlemTensfmtEO0Lc2J61f6puT6E-mmzGW&_nc_ohc=VerT0WbmTisAX--JZAh&_nc_zt=23&_nc_ht=scontent.fbkk3-4.fna&oh=00_AfDl72SeBUf2DrtSEurmRawZ-P5uLeNEp_7ARG1R6GiuuQ&oe=655C696B) repeat-x;
}
.light-panel-center {
	float:left;
	width:210px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	background:url(https://scontent.fbkk3-4.fna.fbcdn.net/v/t39.30808-6/399733025_1801644563589339_8461909653392678172_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF_-JQJrGsnWOy5L7h-VyFpwQ2XFkZY0UrBDZcWRljRSvztJzKK7fCzlemTensfmtEO0Lc2J61f6puT6E-mmzGW&_nc_ohc=VerT0WbmTisAX--JZAh&_nc_zt=23&_nc_ht=scontent.fbkk3-4.fna&oh=00_AfDl72SeBUf2DrtSEurmRawZ-P5uLeNEp_7ARG1R6GiuuQ&oe=655C696B) repeat-y;
}
.light-panel-center ul {
	list-style:none;
	margin-top:20px;
}
.light-panel-center ul li {
	display:block;
	height:34px;
	line-height:34px;
	text-align:left;
	border-bottom:1px solid #e4e4e4;
}
.light-panel-center ul li a {
	color:#8b8b8b;
}
.light-panel-center ul li a:hover {
	color:#e63636;
}
.light-panel-center ul li.no-border {
	border-bottom:none;
}
.light-panel-bottom {
	float:left;
	width:250px;
	height:2px;
	background:url(https://scontent.fbkk3-4.fna.fbcdn.net/v/t39.30808-6/399760019_1801644380256024_4479791247745217956_n.jpg?stp=cp0_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEMcJmOoukMi10In50BmkaPJuv5f2QhnvYm6_l_ZCGe9t6y2L8ZkiZimfoA0oQ7Wmjb3rHszGGWfflg8iJjdG7W&_nc_ohc=RAgstMtpjz0AX-GjHLC&_nc_zt=23&_nc_ht=scontent.fbkk3-4.fna&oh=00_AfBO1oHclOtYtrkYp5rWB5kF7YJC2uV-OVPTQgH0qhnQfA&oe=655CD2F5) repeat-x;
}

.date {
	color:#e63636;
	padding-top:20px;
}
.news {
	border-bottom:1px solid #4a4a4a;
	padding-bottom:20px;
}
.news-no-border {
	border-bottom:none;
	padding-bottom:none;
}

/*-------------------------------------------------
Right Column Styles Start
-------------------------------------------------*/

.right-column {
	float:right;
	width:640px;
	height:auto;
}

.right-column-content {
	width:560px;
	padding:30px;
	border:10px solid #e9e9e9;
	margin-top:20px;
	background:#fff;
	overflow:auto;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}
.right-column-content-heading {
	float:left;
	border-bottom:1px solid #e5e5e5;
	width:100%;
	text-align:left;
	padding-bottom:30px;
	clear:both;
}
.right-column-content-heading h1 {
	font-size:22px;
	color:#ce983b;
	font-weight:normal;
}
.right-column-content-heading h2 {
	font-size:18px;
	color:#3c3c3c;
	font-weight:normal;
}
.right-column-content-img-left {
	float:left;
	width:170px;
	margin-right:30px;
	margin-top:40px;
}
.right-column-content-img-right {
	float:left;
	width:170px;
	margin-left:30px;
	margin-top:40px;
	margin-bottom:40px;
}
.right-column-content-img-right-margin-bottom-none {
	margin-bottom:0px;
}
.right-column-content-content {
	float:left;
	width:350px;
	margin-top:40px;
}
.right-column-content-content p {
	padding-bottom:30px;
}
.right-cloumn-content-border {
	border-bottom: 1px solid #e5e5e5;
}

/*-------------------------------------------------
Footer Styles Start
-------------------------------------------------*/

.footer-wrapper {
	width:100%;
	height:auto;
	background:url(https://scontent.fbkk4-2.fna.fbcdn.net/v/t39.30808-6/399695490_1801644190256043_6166481005744664716_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEIabixbYOEL9wiokeDEOgjUH2vulgYRjtQfa-6WBhGO6Ort643sHa5J9LAPHgpYUIZGeRosK6dHCWkDmt7-y7v&_nc_ohc=lj1S9XUE_i8AX_v4If7&_nc_zt=23&_nc_ht=scontent.fbkk4-2.fna&oh=00_AfBPwmAVwIq9NWM3bk4zywPji696XBXvahlYjhD2nJzooQ&oe=655BA7FE);
	margin-top:20px;
	overflow:auto;
}
.footer-top {
	float:left;
	width:100%;
	height:2px;
	margin-top:5px;
	background:url(https://scontent.fbkk3-3.fna.fbcdn.net/v/t39.30808-6/399708614_1801642636922865_2837008871910226838_n.jpg?stp=cp0_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGZtQUDAu5asLFQiri9olu2YXA7-HyLkAZhcDv4fIuQBrdHZACNy8Skq7fKI6seqUpmSKbT5buHdQpH8tKe_KaP&_nc_ohc=3QwBlCUtm2wAX-_tQF_&_nc_zt=23&_nc_ht=scontent.fbkk3-3.fna&oh=00_AfDDAUdkHTp_6xdBCjXWbAdh_I9QVFGIFMjtro6HjCIIkA&oe=655B1E1E) repeat-x;
}
.footer-center {
	width:920px;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:40px;
	overflow:visible;
}
.footer-center h1 {
	font-weight:normal;
	color:#fff;
	font-size:22px;
}
.footer-center h2 {
	font-weight:normal;
	color:#e63636;
	font-size:18px;
	padding-bottom:30px;
}
.footer-center h3 {
	font-weight:normal;
	color:#fff;
	font-size:18px;
}
.footer-content-left {
	float:left;
	width:640px;
	padding-right:20px;
}
.footer-content-left p {
	padding-bottom:30px;
}
.footer-content-right {
	float:left;
	width:230px;
	background:url(https://scontent.fbkk3-6.fna.fbcdn.net/v/t39.30808-6/399749508_1801642096922919_1243140863701319021_n.jpg?stp=cp0_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF1F58QVblkO9iZLr7-DOacOcwoXp8at5U5zChenxq3lS1Uqx4EOBcg2cv-TgnlPbV3aQpAr4c2k8s9nZjYCTAy&_nc_ohc=oBn_ZVXkN1gAX9Swxqs&_nc_zt=23&_nc_ht=scontent.fbkk3-6.fna&oh=00_AfDNxnblExgb3-L5JqLRmGV24LAqm2-FSHLzyJ0hVbEIjQ&oe=655BE6A1) repeat-y;
	padding-left:30px;
}
.footer-content-right p {
	padding-bottom:30px;
}
.footer-bottom {
	float:left;
	width:100%;
	height:2px;
	margin-bottom:5px;
	background:url(https://scontent.fbkk3-3.fna.fbcdn.net/v/t39.30808-6/399690199_1801647243589071_2445701854696536399_n.jpg?stp=cp0_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF6f7mJraHGZj9yReDOAuNKFNWhvGwT8UAU1aG8bBPxQCeP1pAdIWQBpLEp5zywNdtTLAwVk5Gv30JPzcY-ztac&_nc_ohc=dKj9emT8wUsAX8Z0R3r&_nc_zt=23&_nc_ht=scontent.fbkk3-3.fna&oh=00_AfA-_FF8FzPDoeQjnFw95vLR316C5DPQ2QHIR6J7lZ-P_g&oe=655C4955) repeat-x;
}




